/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
/* End of Reset */

:root {
  --blue: #1992d4;
  --paragraph: #8f8f8f;
  --bg-light: #ffffff;
  --bg-dark: #e2e8f0;
  --accent: #f0b429;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  color: var(--paragraph);
}

button {
  border: none;
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.account-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar {
  padding: 16px;
  display: grid;
  gap: 40px;
  background-color: var(--blue);
  font-size: 1.5rem;
  color: #fff;
  grid-row: 1 / 5;
  align-content: start;
}

.links {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 16px 0;
}

.sidebar a,
.sidebar p {
  color: #fff;
}

.logo p {
  font-size: 2rem;
  font-weight: 900;
}

.content {
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 1fr;
  background-color: var(--bg-dark);
  grid-column: 2 / 3;
  padding: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.project {
  font-size: 1.1rem;
}

.project-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.side-section {
  display: grid;
  grid-template-columns: 1fr;
}

.announcement {
  border-bottom: 1px solid #8f8f8f;
  padding-top: 16px;
  padding-bottom: 16px;
}

.announcement:first-child {
  padding-top: 0;
}

.announcement:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.card {
  background-color: var(--bg-light);
  padding: 20px;
  border-radius: 5px;
}

.left-accent {
  border-left: 5px solid var(--accent);
}

.content-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.announcement {
  font-size: 0.9rem;
}

.announcement-title {
  font-size: 1rem;
  font-weight: 700;
}
